<!-- <section class="bg-white dark:bg-gray-900">
  <div
    class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6"
  >
    <img
      class="w-full dark:hidden"
      src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup.svg"
      alt="dashboard image"
    />
    <img
      class="w-full hidden dark:block"
      src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg"
      alt="dashboard image"
    />
    <section class="bg-white-50 dark:bg-white-900 mt-4 md:mt-0">
      <div
        class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
      >
        <div
          class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
        >
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1
              class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
            >
              Sign in to your account
            </h1>
            <form
              (ngSubmit)="handleLogin(loginForm)"
              class="space-y-4 md:space-y-6"
              action="#"
              [formGroup]="loginForm"
            >
              <div>
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Your email</label
                >
                <input
                  formControlName="email"
                  type="email"
                  name="email"
                  id="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="ex:name@company.com"
                  required=""
                />
                <div
                  *ngIf="
                    loginForm.get('email')?.errors &&
                    loginForm.get('email')?.touched
                  "
                  class="text-red-800"
                >
                  <p
                    *ngIf="loginForm.get('email')?.getError('email')"
                    class="m-0"
                  >
                    Invalid Email
                  </p>

                  <p
                    *ngIf="loginForm.get('email')?.getError('required')"
                    class="m-0"
                  >
                    Email is Required
                  </p>
                </div>
              </div>
              <div>
                <label
                  for="password"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Password</label
                >
                <input
                  formControlName="password"
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Enter Your Password"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required=""
                />
                <div
                  *ngIf="
                    loginForm.get('password')?.errors &&
                    loginForm.get('password')?.touched
                  "
                  class="text-red-800"
                >
                  <p
                    *ngIf="loginForm.get('password')?.getError('pattern')"
                    class="m-0"
                  >
                    Wrong Password
                  </p>

                  <p
                    *ngIf="loginForm.get('password')?.getError('required')"
                    class="m-0"
                  >
                    Password is Required
                  </p>
                </div>
              </div>
              <div class="flex items-center justify-between">
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <input
                      id="remember"
                      aria-describedby="remember"
                      type="checkbox"
                      class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                      required=""
                    />
                  </div>
                  <div class="ml-3 text-sm">
                    <label
                      for="remember"
                      class="text-gray-500 dark:text-gray-300"
                      >Remember me</label
                    >
                  </div>
                </div>
                <a
                  href="#"
                  class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500"
                  >Forgot password?</a
                >
              </div>
              <button
                [disabled]="loginForm.invalid"
                type="submit"
                class="w-full text-white cursor-pointer bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 transition duration-150 ease-in-out hover:translate-y-1 hover:text-white"
              >
                Sign in
              </button>
              <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                Don’t have an account yet?
                <a
                  class="font-medium cursor-pointer text-primary-600 hover:underline dark:text-primary-500"
                  >Sign up</a
                >
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</section> -->
  
  <section class="bg-white dark:bg-gray-900">
    <div class="flex m-5 mb-0">
      <!-- USERS TABLE -->
      <div
        class="relative w-3/5 h-auto overflow-y-scroll shadow-md sm:rounded-lg"
      >
        <div class="flex justify-between mx-4">
          <h1
            class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
          >
            Users
          </h1>
        </div>
        <table
          class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-6 py-3">user name</th>
              <th scope="col" class="px-6 py-3">email</th>
              <th scope="col" class="px-6 py-3">last order</th>
              <th scope="col" class="px-6 py-3">role</th>
              <th scope="col" class="px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody>
            @for (user of usersList; track $index) {
            <tr
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
            >
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                {{ user.firstName }} {{ user.lastName }}
              </th>
              <td class="px-6 py-4">{{ user.email }}</td>
              <td class="px-6 py-4">none</td>
              <td class="px-6 py-4">
                {{ user.isAdmin ? "Administrator" : "User" }}
              </td>
              <td class="px-6 py-4 text-right">
                <button
                  (click)="setCurrentUId(user.id)"
                  (click)="onInitUserUpdate()"
                  class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                >
                  Edit
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <!-- USER FORM -->
      <div
        class="w-2/5 h-auto p-4 mx-4 overflow-y-scroll border border-gray-400 border-dashed rounded-xl"
      >
        <h3 class="mb-4 text-4xl font-extrabold dark:text-white">User Data</h3>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="grid gap-4 mb-6 md:grid-cols-2">
            <!-- FIRST NAME -->
            <div>
              <label
                for="first-name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >First name</label
              >
              <input
                type="text"
                id="first-name"
                formControlName="firstName"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              />
            </div>
            <!-- LAST NAME -->
            <div>
              <label
                for="last-name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Last name</label
              >
              <input
                type="text"
                id="last-name"
                formControlName="lastName"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              />
            </div>
            <!-- EMAIL -->
            <div>
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Email</label
              >
              <input
                type="email"
                id="email"
                formControlName="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              />
            </div>
            <!-- PHONE NUMBER -->
            <div>
              <label
                for="phone"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Phone number</label
              >
              <input
                type="tel"
                id="phone"
                formControlName="phoneNumber"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
              />
            </div>
            <!-- IS ADMIN? -->
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <input
                  id="admin"
                  type="checkbox"
                  formControlName="isAdmin"
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                />
              </div>
              <label
                for="admin"
                class="text-sm font-medium text-gray-900 ms-2 dark:text-gray-300"
              >
                Administrator
              </label>
            </div>
            <!-- IS SELLER? -->
            <div class="flex items-start mb-6">
              <div class="flex items-center h-5">
                <input
                  id="seller"
                  type="checkbox"
                  formControlName="isSeller"
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                />
              </div>
              <label
                for="seller"
                class="text-sm font-medium text-gray-900 ms-2 dark:text-gray-300"
              >
                Seller
              </label>
            </div>
          </div>
          <!-- ADDRESS -->
          <div class="mb-6 text-center" formGroupName="address">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Address</label
            >
            <input
              type="text"
              formGroupName="country"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 w-[45%] dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 m-1"
              placeholder="Country"
            />
            <input
              type="text"
              formGroupName="country"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 w-[45%] dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 m-1"
              placeholder="Country"
            />
            <input
              type="text"
              formGroupName="state"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 w-[45%] dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 m-1"
              placeholder="State"
            />
            <input
              type="text"
              formGroupName="city"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 w-[45%] dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 m-1"
              placeholder="City"
            />
            <input
              type="text"
              formGroupName="street"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 w-[45%] dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 m-1"
              placeholder="Street"
            />
            <input
              type="string"
              formGroupName="zipCode"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 w-[45%] dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 m-1"
              placeholder="Zip Code"
            />
          </div>
          <!-- PAYMENT -->
          <div class="mb-6 text-center" formGroupName="paymentMethod">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Payment Method</label
            >
            <input
              type="text"
              formGroupName="ccNumber"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 w-[45%] dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 m-1"
              placeholder="0000-0000-0000-0000"
            />
            <select
              formGroupName="ccType"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 w-[45%] dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 m-1"
            >
              <option value="" selected></option>
              <option value="Master Card">Master Card</option>
              <option value="Visa">Visa</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <!-- PASSWORD -->
          <div class="mb-6">
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Password</label
            >
            <input
              type="text"
              id="password"
              formControlName="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
          </div>
          <!-- BUTTONS -->
          <button
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-1/4 mx-14 sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-green-600 dark:focus:ring-blue-800"
          >
            Save
          </button>
          <button
            type="button"
            (click)="onClear()"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-1/4 mx-14 sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-yellow-600 dark:focus:ring-blue-800"
          >
            Discard
          </button>
          <button
            type="button"
            (click)="onDeleteUser()"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-1/4 mx-14 sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-red-700 dark:focus:ring-blue-800"
          >
            Delete
          </button>
        </form>
      </div>
    </div>
  </section>
  
  