<div class="lg:grid grid-cols-3 gap-2 sm:flex">
  <div>
    <app-line-area></app-line-area>
  </div>

  <!-- <div>
    <app-simple-bubble-chart></app-simple-bubble-chart>
  </div> -->

  <div>
    <app-line-column></app-line-column>
  </div>
  <!-- <div>
    <app-donut-chart></app-donut-chart>
  </div> -->
  <div>
    <app-three-dimensions></app-three-dimensions>
  </div>
  <!-- <div>
    <app-rounded-heat-map></app-rounded-heat-map>
  </div> -->
  <!-- <div>
    <app-spark-lines></app-spark-lines>
  </div> -->
</div>
<div class="w-full">
  <app-line-column-area></app-line-column-area>
</div>
