<!--The content below is only a placeholder and can be replaced.-->
<div id="chart">
  <apx-chart
    [series]="series"
    [chart]="chart"
    [xaxis]="xaxis"
    [fill]="fill"
    [dataLabels]="dataLabels"
    [title]="title"
    [yaxis]="yaxis"
  ></apx-chart>
</div>
<!-- ////////////////////////////////// -->
<!-- <div id="chart">
  <apx-chart
    [series]="series"
    [chart]="chart"
    [labels]="labels"
    [responsive]="responsive"
  ></apx-chart>
</div> -->
<!-- //////////////////////////////////////////// -->

<!-- <div id="chart">
  <apx-chart
    [series]="series"
    [chart]="chart"
    [xaxis]="xaxis"
    [title]="title"
    [markers]="markers"
    [stroke]="stroke"
    [dataLabels]="dataLabels"
    [fill]="fill"
    [tooltip]="tooltip"
    [legend]="legend"
  ></apx-chart>
</div> -->
<!-- [yaxis]="yaxis" -->
<!-- //////////////////////////////////////////// -->
